<!DOCTYPE html>
<html>
  <head>
    <title>HouseAlwaysWin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'spin' %>
  </head>

  <body>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var flashMessages = document.querySelectorAll('.alert');

        flashMessages.forEach(function(flashMessage) {
          setTimeout(function() {
            flashMessage.remove();
          }, 2000);
        });
      });
    </script>
  </body>
</html>
